http:
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
    
    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true

    default-whitelist:
      ipWhiteList:
        sourceRange:
          - "192.168.1.0/24"
      
    secured:
      chain:
        middlewares:
          - default-whitelist
          - default-headers
    
    auth-secured:
      chain:
        middlewares:
          - default-whitelist
          - default-headers
          - simple-auth